.decision-wrapper {
  position: absolute;
  color: var(--text-color);
  background: hsl(0, 0%, 13%);
  border: 0.18vh solid hsl(220, 17%, 37%);
  padding: 0.92vh 1.04vw;
  border-radius: 0.46vh;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.decision-wrapper.true {
  animation: SlideUp 1s ease-in-out;
  animation-fill-mode: forwards;
}

.decision-wrapper.false {
  animation: SlideDown 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes SlideUp {
  0% { top: -150%; }
  100% { top: 50%; }
}

@keyframes SlideDown {
  0% { top: 50%; }
  100% { top: -150%; }
}

.decision-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.04vw;
  color: var(--text-color);
}

.decision-desc {
  font-size: 1.04vw;
  font-weight: bold;
  color: var(--primary-color);
}

.decision-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.83vw;
  column-gap: 1.04vw;
}

.tooltip-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.20vw;
  row-gap: 0.20vw;
}

.tooltip-title {
  font-size: 0.88vw;
  font-weight: bold;
}

.tooltip-button {
  font-weight: bold;
  padding: 0.55vh;
  width: 5.20vw;
  background: hsl(209, 42%, 17%);
  color: hsl(206, 100%, 82%);
  font-size: 0.62vw;
  text-align: center;
  border-radius: 0.34vh;
  transition: all 0.25s ease;
}

.tooltip-button:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.tooltip-button:active {
  opacity: 0.6;
  transform: scale(0.95);
}

.locations {
  position: absolute;
  height: 81.66vh;
  width: 74.58vw;
  color: rgb(69, 156, 233);
}

.location-pin {
  position: absolute;
  height: 1.85vh;
  width: 1vw;
  background: hsl(0, 0%, 13%);
  border-radius: 50% 50% 0 50%;
  border: 0.18vh solid hsl(220, 17%, 37%);
  transform: rotate(45deg);
  transition: all 0.3s ease;
  box-shadow: 0 0 1.11vh 0.18vh rgb(82, 107, 121);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.location-pin::before {
  content: '';
  height: 0.59vh;
  width: 0.33vw;
  background-color: var(--text-color);
  border-radius: 50%;
}

.location-pin:hover {
  box-shadow: 0 0 1.12vh 0.25vh rgba(66, 66, 66, 0.75);
  background-color: linear-gradient(115deg, hsl(241, 77%, 73%), hsl(0, 0%, 13%), hsl(0, 0%, 13%));
  border-color: hsl(0, 0%, 13%);
}

.location-pin::after {
  content: '';
  position: absolute;
  bottom: 1.11vh;
  right: 1.11vh;
  height: 0.46vh;
  width: 0.46vh;
  background-color: hsl(191, 100%, 65%);
  border-radius: 50%;
  box-shadow: 0 0 0.74vh 0.18vh hsla(191, 100%, 65%, 0.75);
}

.last-location {
  position: absolute;
  right: 26vh;
  bottom: 14.88vh;
  transition: all 0.5s ease;
}