:root {
  --background-color: hsl(0, 0%, 13%);
  --border-color: hsl(220, 17%, 37%);
  --primary-color: hsl(201, 79%, 56%);
  --shadow-color: rgba(0, 0, 0, 0.5);
  --text-color: hsl(192, 16%, 94%);
}

@font-face {
  font-family: 'DevX32';
  src: url('fonts/a_RubricaXtCn.ttf');
}

body {
  user-select: none;
  overflow: hidden;
  font-family: 'Roboto';
  background-color: var(--background-color);
}

.nui-wrapper {
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nui-wrapper.true {
  animation: SlideUpBig 1s;
  animation-fill-mode: forwards;
}

.nui-wrapper.false {
  animation: SlideDownBig 1s;
  animation-fill-mode: forwards;
}

@keyframes SlideUpBig {
  0% { top: -1080px; }
  100% { top: 0px; }
}

@keyframes SlideDownBig {
  0% { top: 0px; }
  100% { top: -1080px; }
}

.map-shell {
  background-color: var(--background-color);
  filter: drop-shadow(0px 0px 3px var(--shadow-color));
  border-radius: 10px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map {
  height: 882px;
  width: 1432px;
  position: relative;
  object-fit: cover;
}

.img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 882px;
  width: 1432px;
  border-radius: 5px;
}

.locations {
  position: absolute;
  height: 55.125rem;
  width: 89.5rem;
  color: rgb(69, 156, 233);
}

.location-pin {
  position: absolute;
  height: 1.25rem;
  width: 1.25rem;
  background: hsl(0, 0%, 13%);
  border-radius: 50% 50% 0 50%;
  border: 0.125rem solid hsl(220, 17%, 37%);
  transform: rotate(45deg);
  transition: all 0.3s;
  box-shadow: 0rem 0rem 0.75rem 0.125rem rgb(82, 107, 121);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.location-pin::before {
  content: '';
  height: 0.5rem;
  width: 0.5rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
}

.location-pin:hover {
  box-shadow: 0rem 0rem 1.125rem 0.25rem rgba(66, 66, 66, 0.75);
  background-color: linear-gradient(115deg, hsl(263, 74%, 43%), hsl(0, 0%, 13%), hsl(0, 0%, 13%));
  border-color: hsl(0, 0%, 13%);
}

.location-pin::after {
  content: '';
  position: absolute;
  bottom: 0.75rem;
  right: 0.75rem;
  height: 0.3125rem;
  width: 0.3125rem;
  background-color: hsl(191, 100%, 65%);
  border-radius: 50%;
  box-shadow: 0 0 0.5rem 0.125rem hsla(191, 100%, 65%, 0.75);
}

.decision-wrapper {
  position: absolute;
  color: hsl(0, 0%, 100%);
  background: hsl(0, 0%, 13%);
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
  border: 0.125rem solid hsl(220, 17%, 37%);
  padding-bottom: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.decision-wrapper.true {
  animation: SlideUp 1s;
  animation-fill-mode: forwards;
}

.decision-wrapper.false {
  animation: SlideDown 1s;
  animation-fill-mode: forwards;
}

@keyframes SlideUp {
  0% { top: -150%; }
  100% { top: 50%; }
}

@keyframes SlideDown {
  0% { top: 50%; }
  100% { top: -150%; }
}

.decision-title {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  font-size: 1.25rem;
  color: hsl(180, 1%, 82%);
}

.decision-desc {
  font-size: 1.25rem;
  font-style: italic;
  font-weight: bold;
  color: var(--primary-color);
}

.decision-button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
  column-gap: 20px;
}

.last-location {
  position: absolute;
  right: 255px;
  bottom: 55px;
  transition: all 0.5s;
}

.tooltip-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px;
  row-gap: 4px;
}

.tooltip-title {
  font-size: 16px;
}

.tooltip-button {
  font-style: italic;
  font-weight: bold;
  padding: 0.375rem;
  width: 6.25rem;
  background: hsl(209, 42%, 17%);
  color: hsl(206, 100%, 82%);
  font-size: 0.75rem;
  text-align: center;
  border-radius: 0.15625rem;
  transition: all 0.25s;
}

.tooltip-button:hover {
  opacity: 0.8;
}

.tooltip-button:active {
  opacity: 0.6;
}

.information {
  position: absolute;
  top: 43.7rem;
  left: 14rem;
  width: 220px;
  height: 200px;
  background: var(--background-color);
  border: 0.125rem solid var(--border-color);
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  color: var(--text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  padding: 10px;
  z-index: 2;
}

.infoRow {
  display: flex;
  align-items: center;
  margin-bottom: 0.625rem;
}

.infoRow .icon {
  width: 1.875rem;
  height: 1.875rem;
  background-color: hsl(204, 64%, 44%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  color: hsl(0, 0%, 100%);
}

.title {
  font-weight: bold;
  margin-left: 0.625rem;
}

.desc {
  opacity: 0.8;
  margin-left: 0.625rem;
}

.devx32-text {
  position: absolute;
  top: 4rem;
  left: 16rem;
  font-family: 'DevX32';
  font-size: 1.6rem;
  color: var(--background-color);
  font-style: italic;
  z-index: 10;
  text-shadow: 0.125rem 0.125rem 0.25rem hsla(0, 0%, 0%, 0.5);
}

.devx32-text2 {
  position: absolute;
  top: 5rem;
  left: 15rem;
  font-family: 'DevX32';
  font-size: 3.75rem;
  color: rgb(33, 33, 33);
  font-style: italic;
  z-index: 10;
  text-shadow: 0.125rem 0.125rem 0.25rem hsla(0, 0%, 0%, 0.5);
}