:root {
  --background-color: hsl(210, 20%, 10%);
  --border-color: hsl(220, 15%, 30%);
  --primary-color: hsl(200, 80%, 50%);
  --shadow-color: rgba(0, 0, 0, 0.5);
  --text-color: hsl(192, 16%, 94%);
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@font-face {
  font-family: 'DevX32';
  src: url('fonts/a_RubricaXtCn.ttf');
}

body {
  user-select: none;
  overflow: hidden;
}

.nui-wrapper {
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nui-wrapper.true {
  animation: SlideUpBig 1s ease-in-out;
  animation-fill-mode: forwards;
}

.nui-wrapper.false {
  animation: SlideDownBig 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes SlideUpBig {
  0% { top: -68rem; }
  100% { top: 0; }
}

@keyframes SlideDownBig {
  0% { top: 0; }
  100% { top: -68rem; }
}

.map-shell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  border-radius: 0.625rem;
  padding: 0.75rem;
  box-shadow: 0 4px 8px var(--shadow-color);
}

.map {
  height: 55.125rem;
  width: 89.5rem;
  position: relative;
  object-fit: cover;
}

.img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55.125rem;
  width: 89.5rem;
  border-radius: 0.3125rem;
}